[submodule "snakemaze"]
	path = public/snakemaze
	url = https://github.com/luketrenaman/snakemaze.git
[submodule "luketris"]
	path = public/luketris
	url = https://github.com/luketrenaman/luketris.git
[submodule "wave_editor"]
	path = public/wave_editor
	url = https://github.com/luketrenaman/wave_editor.git
[submodule "archives"]
	path = public/archives
	url = https://github.com/luketrenaman/archives.git
