[submodule "public/projects/archives"]
	path = public/projects/archives
	url = https://github.com/luketrenaman/archives.git
[submodule "public/projects/luketris"]
	path = public/projects/luketris
	url = https://github.com/luketrenaman/luketris.git
[submodule "public/projects/minesweeper"]
	path = public/projects/minesweeper
	url = https://github.com/luketrenaman/minesweeper.git
[submodule "public/projects/snakemaze"]
	path = public/projects/snakemaze
	url = https://github.com/luketrenaman/snakemaze.git
[submodule "public/projects/wave_editor"]
	path = public/projects/wave_editor
	url = https://github.com/luketrenaman/wave_editor.git
