@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-color: #66aed4;
  --corner-length:25px;
  /* min-width query to set corner length to 35px for 640*/
  @media (min-width:640px) {
    --corner-length:35px;
  }
}