@tailwind base;
@tailwind components;
@tailwind utilities;

.i-like-blue{
	color: #CEF6C6;
}
body {
	min-height: 100vh;
	position: relative;
	background-color:#60435F;
	color:white;
	margin-bottom:10rem;
}

header {
	margin-top:12px;
	margin-bottom:25px;
	
}
.header-s1,.header-s2,.header-s3{
	margin:0;
	padding:0;
}
footer {
   position:absolute;
   bottom:-10rem;
   width:100%;
   height:10rem;   /* Height of the footer */
}
.tag{
	padding:5px 9px;
	color:black;
	font-weight:bold;
	user-select:none;
	cursor:pointer;
}
.learn-more{
	position:absolute;
	bottom:20px;
	border:0;
	padding:3px 8px;
	color:white;
	background-color:rgb(129, 129, 129);
	box-shadow:0 5px 0 0 rgb(97, 97, 97);
	transition:0.1s all;
}
.learn-more:hover{
	background-color:rgb(56, 56, 56);
	box-shadow:0 5px 0 0 rgb(10, 10, 10);
}
.tag-game{
	background-color:#FFCF9C;
	/* box-shadow:0 5px 0 0 #2819DA; */
}
.tag-code{
	background-color:#CEF6C6;
	/* box-shadow:0 5px 0 0 rgb(20, 173, 46); */
}
.tag-date{
	background-color:#4A4A4A;
	/* box-shadow:0 5px 0 0 #383838; */
	color:white;
}
.tag-webpage{
	background-color:#4CC9F0;
	/* box-shadow:0 5px 0 0 rgb(177, 68, 68); */
}
.game-card{
	background:#E7E4F3;
	color:black;
	height:100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
:root {
  --drop-shadow-color: #2f3116;
}
.game-card{
	box-shadow: 4px 4px 5px var(--drop-shadow-color);
}
.game-title a{
	font-weight:bold;
	color:black;
}
.game-tagline{
	margin:10px 0px 0px 0px;
}
.game-blurb{
	padding:15px 10px;
}
.right-info{
	float:right;
	margin-left:5px;
}

img{
	width:100%;
	aspect-ratio:315/230;
	object-fit:cover;
}
.wrapper{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	height: auto;
}
.wrapper>div{
	margin-bottom:20px;
}
.icon-container{
	display:flex;
	justify-content:space-between;
	width:50%;
	margin:0 auto;
}
@media(max-width: 700px){
	.icon-container{
		width:92%;
	}
}
.icon-container a{
	color:white;
}

.text-muted {
	color: #888;
}
.margin-side-vw{
	margin:0 20vw;
	color:#111;
}
hr{
	box-sizing: content-box;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1)
}

.mx-auto{
	margin-left:auto !important;
	margin-right:auto !important;
}